@import 'common';

$thumbnail-size: 200px;

.OneLine {
  @include material-shadow(4, 0.5);
  display: flex;
  background: white;
  border-radius: 3px;
  height: 200px;
  @include media('<=medium') {
    height: $thumbnail-size - 30px;
  }
  @include media('<=mobile') {
    height: $thumbnail-size - 80px;
  }
  .left {
    .thumbnail {
      width: $thumbnail-size;
      height: $thumbnail-size;

      @include media('<=medium') {
        width: $thumbnail-size - 30px;
        height: $thumbnail-size - 30px;
      }

      @include media('<=mobile') {
        width: $thumbnail-size - 80px;
        height: $thumbnail-size - 80px;
      }

      img {
        width: $thumbnail-size;
        height: $thumbnail-size;
        object-fit: cover;
        border-radius: 3px;

        @include media('<=medium') {
          width: $thumbnail-size - 30px;
          height: $thumbnail-size - 30px;
        }

        @include media('<=mobile') {
          width: $thumbnail-size - 80px;
          height: $thumbnail-size - 80px;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-left: 1.5rem;
    margin-top: 1rem;

    @include media('<=medium') {
      margin-left: 1rem;
    }

    .title {
      font-size: 2rem;
      font-weight: 500;

      @include media('<=medium') {
        font-size: 1.25rem;
        font-weight: 500;
      }

      @include media('<=mobile') {
        font-size: 1rem;
      }
    }

    .actors {
      display: flex;

      @include media('<=medium') {
        font-size: 0.75rem;
        font-weight: 500;
      }

      .actor {
        font-size: 1.25rem;

        @include media('<=medium') {
          font-size: 0.75rem;
          font-weight: 500;
        }
      }
    }

    .genres {
      display: flex;
      .genre {
        color: #fff;
        background: $oc-pink-5;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        border-radius: 3px;
        @include material-shadow(2, 0.5);
        cursor: pointer;
        font-size: 1.25rem;
        @include media('<=medium') {
          font-size: 0.75rem;
          font-weight: 500;
        }
      }
      .genre + .genre {
        margin-left: 1rem;
      }
    }

    .actors + .genres {
      margin-top: 1rem;
    }

    .title + .actors {
      margin-top: 1rem;
    }
  }
}

.OneLine + .OneLine {
  margin-top: 1.25rem;
}
