@import 'common';

.SeriesList {
  width: 1024px;

  @include media('<=medium') {
    width: 100%;
  }
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .label {
    display: flex;
    align-items: center;
    .left-label {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem;
    }

    .right-label {
      margin-left: auto;
      margin-right: 1rem;
      color: #91a7ff;
      cursor: pointer;
      user-select: none;
    }
  }
  .ListWrapper {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    .inner {
      // width: 110%;
      padding-left: 0.5rem;
      height: 390px;
      display: flex;
      white-space: no-wrap;
      overflow-x: auto;
    }
  }
}
