@import 'common';

$list-width: 280px;
$list-height: 350px;

.list {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: flex;

  border-radius: 2px;

  &:hover {
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25), 0 3px 4px rgba(0, 0, 0, 0.22);
  }

  flex-direction: column;

  background: white;
  width: $list-width;
  height: $list-height + 60px;

  @include media('<=medium') {
    width: $list-width - 50px;
    height: $list-height - 50px;
    padding: 0;
  }

  @include media('<=mobile') {
    width: $list-width - 180px;
    height: $list-height - 180px;
    padding: 0;
  }

  .thumbnail {
    height: $list-height;

    // @include media('<=medium') {
    //   height: $list-height - 40px;
    // }

    // @include media('<=mobile') {
    //   height: $list-height;
    // }

    img {
      border-radius: 2px;
      width: $list-width;
      height: $list-height;

      @include media('<=medium') {
        width: $list-width - 50px;
        height: $list-height - 100px;
      }

      @include media('<=mobile') {
        width: $list-width - 180px;
        height: $list-height - 230px;
      }
    }
  }

  .title {
    height: 60px;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    align-items: center;

    @include media('<=medium') {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.list + .list {
  margin-left: 2rem;

  @include media('<=mobile') {
    margin-left: 1rem;
  }
}
