@import 'common';

.pagination {
  margin-top: 2rem;

  // 세로 중앙 정렬
  display: flex;
  align-items: center;

  .number {
    font-size: 0.85rem;
    text-align: center;
    color: $oc-gray-6;
    flex: 1; // 남은 공간을 다 차지
  }

  .button {
    background: $oc-yellow-4;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
  }
}
