@import 'common';

.ListPageHeader {
  background: $oc-pink-6;
  .contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;

    .logo {
      margin-left: 4rem;
      color: white;
      font-weight: 800;
      font-size: 2rem;
      cursor: pointer;
      user-select: none;

      @include media('<=medium') {
        font-size: 1.25rem;
        margin-left: 1rem;
      }
    }

    .header-right {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      color: white;
      margin-right: 4rem;
      font-size: 1.15rem;

      @include media('<=medium') {
        font-size: 0.95rem;
        margin-right: 1rem;
      }

      .top-header-right {
        display: flex;
        flex-direction: row;

        .top-header-right-text {
          cursor: pointer;
        }

        .top-header-right-text + .top-header-right-text {
          margin-left: 1rem;
        }
      }

      .bottom-header-right {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .bottom-header-text + .bottom-header-text {
          margin-left: 1rem;
        }
      }
    }
  }
}
