@import 'common';

.AuthForm {
  // width: 1024px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include media('<=medium') {
    width: 100%;
  }
  // margin: 0 auto;
  display: flex;
  justify-content: center;

  .contents {
    @include material-shadow(4, 0.5);
    background: white;
    padding: 1.5rem;
    // margin-top: 1rem;
    width: 500px;
    border-radius: 2px;
    .title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }

    .error {
      color: $oc-red-5;
      margin-bottom: 1rem;
      text-align: center;
    }

    .OneOfLine {
      .label {
        font-weight: 400;
        font-size: 1.3rem;
        margin-bottom: 0.75rem;
      }

      .input-wrapper {
        display: flex;

        input {
          flex: 1;
          height: 2.5rem;
          font-size: 1.3rem;
          outline: none;
          border: 1px solid black;
          padding: 0.25rem;
        }
      }
    }

    .OneOfLine + .OneOfLine {
      margin-top: 1rem;
    }

    .button-wrapper {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      .button {
        background: $oc-red-7;
        color: white;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        user-select: none;
        cursor: pointer;

        &:hover {
          background: $oc-red-6;
        }

        &:active {
          background: $oc-red-7;
        }
      }
    }

    .desc {
      display: flex;
      text-align: right;

      .text {
        margin-left: auto;
        color: $oc-blue-3;
        cursor: pointer;
      }
    }
  }
}
