@import 'common';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
    background: $oc-gray-6;
    .logo {
        font-size: 2rem;
        font-weight: 800;
        color: white;
    }

    .admin {
        color: white;
        margin-top: 1rem;
    }
}
